{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
<h1>Auction Status: <b><u>{{ Status }}</u></b></h1> 
	<h2>Item ID #{{ id }}: {{Name}}</h2>
	<h3 style="background-color:#6dd0ff">Bids</h3> 
	<div style="background-color:#b5ffbe">
	<p>
	{% if ended %}
		{% if noBids %}
			<b>Ending Price: </b> ${{Currently}}<br>
		{% else %}
			<b>Winner:</b> {{Winner}}<br>
			<b>Winning Bid: </b> ${{Currently}}<br>
		{% endif %}
	{% elif noBids %}
		<b>Starting Bid Price: </b> ${{Currently}}<br>
	{% else %}
		<b>Currently Winning:</b> {{Winner}}<br>
		<b>Highest Bid: </b> ${{Currently}}<br>
	{% endif %}
	{% if hasBuyPrice %}
		<b>Buy Price: </b> ${{buyPrice}}<br>
	{% endif %}
	<b>Number of Bids:</b> {{Number_of_Bids}}
	</p>
	<ul>
	{% if bids %}
		{% for result in bids %}
			{% for key in result %}
				<div>
				<b>{{key|e}}</b>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% if key|e == "User ID" %}
				&nbsp;&nbsp;
				{% endif %}
				{{result[key]|e}}
				</div>
			{% endfor %}
		<div>---------------------</div>
		{% endfor %}
	{% else %}
	{% endif %}
	</ul>
{% endblock %}
